In [19]:
import pandas as pd

data = pd.read_csv("acc_data_after_cleaning.csv", engine='python', usecols=['accident_severity','casualty_severity'])

In [10]:
data

        accident_severity  casualty_severity
0                       3                  3
1                       3                  3
2                       3                  3
3                       3                  3
4                       3                  3
...                   ...                ...
186045                  3                  3
186046                  3                  3
186047                  3                  3
186048                  3                  3
186049                  3                  3

[186050 rows x 2 columns]

In [20]:
data['accident_severity'].value_counts()

3    155053
2     28161
1      2836
Name: accident_severity, dtype: int64

In [21]:
data['casualty_severity'].value_counts()

3    162193
2     22130
1      1727
Name: casualty_severity, dtype: int64

In [22]:
data['accident_severity'] = 4 - data['accident_severity']

In [23]:
data['accident_severity'].value_counts()

1    155053
2     28161
3      2836
Name: accident_severity, dtype: int64

In [24]:
data['accident_severity']

0         1
1         1
2         1
3         1
4         1
         ..
186045    1
186046    1
186047    1
186048    1
186049    1
Name: accident_severity, Length: 186050, dtype: int64